* {
    background-color: white;
}

body {
    display: 100%;
    padding: 70px;
}

#benson {
    max-height: 250px;
    max-width: 250px;
    padding: 0px;
    border-radius: 10000%;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
 /*styles the shape of the image*/   

}
#benson img {
    max-height: 500px;
    max-width: 500px;
}

#introline {
    display: inline-block;
    /*margin-left: auto;
    margin-right: 30px;*/
    margin: 10px 0px 10px 80px;
    padding: 0px;
    border-style: none;
    font-family: 'Playfair Display' , serif;
    font-size: 35px   
}

.Nav {
    list-style-type: none;
    display: inline;
    border-style: none;
    margin: 20px 0px 20px 175px;
    font-family: 'Raleway' , sans-serif;
    float: left;
    cursor: crosshair;
}

.top_ten {
    list-style-type: none;
}
