* {
    background-color: white;
}
#benson {
    max-height: 250px;
    max-width: 250px;
    padding: 0px;
    border-radius: 10000%;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
 /*styles the shape of the image*/   

}
#benson img {
    max-height: 500px;
    max-width: 500px;
}
h2, h4 {
    font-family: Verdana;
    background-color: #DED5D3;

}
ul {
    font-family: Arial;
}

div > p {
    font-family: Arial;
}
