* {
    /*text-align: center;*/
    background-color: #DED5D3;
}
#benson {
    max-height: 250px;
    max-width: 250px;
    padding: 0px;
    border-radius: 10000%;
    overflow: hidden;
    

}
#benson img {
    max-height: 500px;
    max-width: 500px;
}
h2, h4 {
    font-family: Verdana;
}
ul {
    font-family: Arial;
}
div > p {
    font-family: Arial;

